*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F7C7DB ;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0,1);
    font-size: 8vmin;
    color: #C86FC9;
    background-color: #F7C7DB;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#8E518D ;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#8E518D ;
    color: aliceblue;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: antiquewhite;
    font-size: 5vmin;
    color: black;
}

.msg-container{
    height: 30vmin;
    
}

.hide{
    display: none;
}